* {
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}
    html {
        font-size : 10px;
    }
    html::before{
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        background : linear-gradient(120deg, #ffc3fd 0%, #8ec5fc 100%)no-repeat;
    }
    ::selection{
        color: #ffffff;
        background-color: rgb(144, 129, 241);
    }
    .box{
        display: flex;
        overflow: hidden;
        width: 90rem;
        height: 70rem;
        background-color: rgba(255, 255, 255, 60%);
        border-radius: 1.5rem;
        margin: 10% auto;
        box-shadow: 0 0 1rem 0.2rem rgb(0, 0, 0 /10%);
    }
    .box .left{
        position: relative;
        width: 35%;
        height: 100%;
        background-image: url(../image/2.jpg) ;
        background-size: cover ;
        opacity : 80%;   
    }
    .box .right{
        display: flex;
        width: 65%;
        flex-direction: column;
        align-items: center;
    }
    .box .right h4{
        color: rgb(144, 129, 241);
        font-size: 3rem;
        margin-top: 5rem;
    }
    .box .right form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box .right form .acc {
        outline: none;
        width: 80%;
        height: 5rem;
        font-size: 1.6rem;
        margin-top: 5rem;
        padding: 1rem 0 0 1.6rem;
        border: none;
        border-bottom: 1px solid rgb(144, 129, 241);
        color: rgb(144, 129, 241);
        background-color: rgba(0, 0, 0, 0);

    }
    label {
        outline: none;
        color: rgb(144, 129, 241);
        padding: 1rem 0 0 1.6rem;
      }
    .right form .acc:focus{
        outline: none;
        color: rgb(144, 129, 241);
        padding: 1rem 0 0 1.6rem;
    }
    .right .submit{
        display: inline-block;
        width: 20%;
        height: 5rem;
        color: #f6f6f6;
        background-image: linear-gradient(120deg,#e0c3fc 0%,#8ec5fc 100%);
        font-size: 1.2rem;
        border: none;
        border-radius: 0.6rem;
        margin: 2rem 0 0 70%;
        transform: translateX(-50%);
        cursor: pointer;

    }
    .right .submit2{
        width: 20%;
        height: 5rem;
        color: #f6f6f6;
        background-image: linear-gradient(120deg,#e0c3fc 0%,#8ec5fc 100%);
        font-size: 1.2rem;
        border: none;
        border-radius: 0.5rem;
        margin: -5rem 0 20em 10%;
        transform: translateX(-120%);
        cursor: pointer;
    }
    .right .input:hover{
        box-shadow: 0 0 2rem -0.5rem rgb(0, 0, 0 /15%);
    }

    #userList div {
        border: 1px rgb(216, 216, 216);
        margin-top: 1rem;
        margin-left: -90rem;
        text-align: center;
        height: 24px;
    }
    .right .title {
        color: rgb(144, 129, 241);
        font-size: 1.7rem;
        margin-top: 5rem;
        text-align: center;
      }
    .mgb12 {
        margin-bottom: 12px;
        width: 80%;
        height: 5rem;
        font-size: 1.6rem;
        margin-top: -5rem;
        padding:  0 0 1.6rem;
        border: none;
        color: rgb(144, 129, 241);
    }
